table {
  margin: 10px auto;
  height: 900px;
  width: 700px;
}

td {
  height: 100px;
  width: 100px;
}

.w1 {
  background: #F2F2F2;
  border-bottom: 10px solid #000;
}

.w12 {
  background: #F2F2F2;
  border-bottom: 10px solid #000;
  border-left: 10px solid #000;
  border-right: 10px solid #000;
}

.w2 {
  background: #F2F2F2;
}

.w9 {
  background: #F2F2F2;
  border-top: 10px solid #000;
  border-left: 10px solid #000;
}

.y1 {
  background: #F2D95C;
  border-bottom: 10px solid #000;
}

.y2 {
  background: #F2D95C;
}

.r {
  background: #F2512E;
  border: 10px solid #000;
}

.b {
  background: #084E8C;
}

.k {
  background: #0c0c0c;
  border: 10px solid #000;
}
